.btn-modal{
    text-decoration: none !important;
}
.PTSans{
    font-family: 'PT Sans', sans-serif;
}
.page-body{
    background-color: #f2f2f2;
}
.circle {
    width: 27px;
    height: 27px;
    background: #979797;
    border-radius: 50%
}
#subtitle{
    font-size: 30px;
    margin-left: 37px;
}
h5#subtitle{
    margin-left: 60px;
}
.form-group input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9fa09f;
}
.form-group input:focus{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9fa09f;
    box-shadow: 0 0 0 0rem rgba(0,0,0,0);
}
form{
    max-width: 540px;
}
form span{
    color:#495057;
}
#CNH{
    color: #6d6d6d;
}
#avisoPrivacidade{
    font-size: 12px;
}
.btn{
    background-color: #f57c00;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    padding-left: 9rem;
    padding-right: 9rem;
}
.btn:hover{
    background-color: #f57c00;
    border: none;
    box-shadow: 0 0 0 0rem rgba(0,0,0,0);
}
.btn:focus{
    background-color: #f57c00;
    border: none;
    box-shadow: 0 0 0 0rem rgba(0,0,0,0);
}
.btn:active{
    background-color: #f57c00;
    border: none;
    box-shadow: 0 0 0 0rem rgba(0,0,0,0);
}
.span-entrada{
    font-size: 25px;
}
.span-valor-veiculo{
    display: grid;
}
.descricao-valor-veiculo{
    font-size: 18px;
    margin-bottom: 0;
}
.padding-parcelas{
    padding-bottom: 1.5px !important;
}
.valor-veiculo{
    font-size: 22px;
    border-bottom: 1px solid black;
}
select.valor-veiculo{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}
.RS{
    font-size: 22px;
    margin-top: 0.45rem;
}
.titulo-valor-parcelas{
    color:#999999;
}
.numero-parcelas{
    font-size: 20px;
}
.valor-parcelas{
    font-size: 30px;
}
input#entrada ::placeholder{
    font-size: 12px !important;
}
input.form-control{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9fa09f;
    color: #212529 !important;
}
input.form-control:focus{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9fa09f;
    box-shadow: 0 0 0 0rem rgba(0,0,0,0);
}
.aviso-simulacao{
    margin-left: 3.5%;
    margin-right: 3.5%;
    font-size: 12px;
}
#container-financiamento{
    margin-left: 8.5%;
}
.cabecalho-financiamento{
    background-color: #d7d7d7;
    font-size: 22px;
}
.santander-logo{
    width: 30%;
    height: auto;
}
.font-size-entrada{
    font-size: 22px;
}
.parcela-final{
    font-size: 26px;
    margin-top: 45px;
}
.small-parcela-final{
    font-size: 16px;
}
#alterarEntrada{
    cursor: pointer;
}
#rodape-financiamento{
    background-color: #d7d7d7;
    font-size: 19px;
}
.d-grid{
    display: grid !important;
}
.smaller{
    font-size: 11px;
}
.voucher{
    background-color: #d7d7d7;
}
.santander-voucher{
    margin-left: 131px;
    margin-right: 131px;
}
.border-voucher{
    border-bottom: 1px solid black;
}
.credito-pre{
    font-size: 16px;
}
.condicao-financiamento{
    font-size: 22px;
}
.juros-voucher{
    margin-left: 190px;
}
.santander-logo-voucher{
    width: 50%;
    height: auto;
}
.span-simulacao{
    font-size: 13px;
}
.btn-enviar-email{
    padding-left: 25px;
    padding-right: 25px;
}
.btn-imprimir{
    padding-left: 60px;
    padding-right: 60px;
}
.show{
    display: block !important;
}
.hidden{
    display: none !important;
}